; begin auth token
//pkgs.dev.azure.com/bangitsgroup/_packaging/atom-common/npm/registry/:username=bangitsgroup
//pkgs.dev.azure.com/bangitsgroup/_packaging/atom-common/npm/registry/:_password=[dmU3dWdyNDV5amZ0NHE2Y2N0d2dmcXUzeWhobXFtNzN5aHl2bmR1emo0ZjNqZ2V4dmlxYQ==]
//pkgs.dev.azure.com/bangitsgroup/_packaging/atom-common/npm/registry/:email=amesropyan@bangits.com
//pkgs.dev.azure.com/bangitsgroup/_packaging/atom-common/npm/:username=bangitsgroup
//pkgs.dev.azure.com/bangitsgroup/_packaging/atom-common/npm/:_password=[dmU3dWdyNDV5amZ0NHE2Y2N0d2dmcXUzeWhobXFtNzN5aHl2bmR1emo0ZjNqZ2V4dmlxYQ==]
//pkgs.dev.azure.com/bangitsgroup/_packaging/atom-common/npm/:email=amesropyan@bangits.com
; end auth token

registry=https://pkgs.dev.azure.com/bangitsgroup/_packaging/atom-common/npm/registry/ 
                        
always-auth=true