; begin auth token
//pkgs.dev.azure.com/bangitsgroup/Common/_packaging/atom-common/npm/registry/:username=bangitsgroup
//pkgs.dev.azure.com/bangitsgroup/Common/_packaging/atom-common/npm/registry/:_password=[N2QxZjRmN2YtYzgyMS00MGYxLTk5YTktMGEwYjlkYjk4OTY0]
//pkgs.dev.azure.com/bangitsgroup/Common/_packaging/atom-common/npm/registry/:email=amesropyan@bangits.com
//pkgs.dev.azure.com/bangitsgroup/Common/_packaging/atom-common/npm/:username=bangitsgroup
//pkgs.dev.azure.com/bangitsgroup/Common/_packaging/atom-common/npm/:_password=[N2QxZjRmN2YtYzgyMS00MGYxLTk5YTktMGEwYjlkYjk4OTY0]
//pkgs.dev.azure.com/bangitsgroup/Common/_packaging/atom-common/npm/:email=amesropyan@bangits.com
; end auth token

registry=https://pkgs.dev.azure.com/bangitsgroup/Common/_packaging/atom-common/npm/registry/ 
                        
always-auth=true